.contactAbsoluteTop {
  width: 100vw;
  height: 50px;
  position: fixed;
}

.contactAbsoluteBottom {
  /* border: 5px solid black; */
  width: 100vw;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}

.contactCont {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.topBack {
  position: absolute;
  /* border: 1px solid black; */
  display: inline-flex;
  height: 50px;
  width: 150px;
  align-items: center;
}

.ps{
  overflow-x: auto;
  margin: 15px 0;
}

.ps::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ps {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.topBack p {
  margin: 0;
}

#buttonStyle {
  text-decoration: none;
  /* width: 50px; */
  /* border: 1px solid black; */
}

#about {
  white-space: nowrap;
}

.contactMainCont {
  flex: 1.8;
  display: flex;
  flex-direction: row;
}

.contactMiddleCont {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  /* border: 1px solid black; */
}

#futurePlan {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  width: 48.5%;
  background-color: antiquewhite;
}



#explainFuturePlan {
  /* border: 1px solid black; */
  width: 50%;
  overflow-y: auto;
  height: 180px;
  /* z-index: -5; */
}

.timelineTitle {
  text-align: center;
}

.contactBottomCont {
  flex: 1.5;
  z-index: -5;
  /* border: 1px solid black; */
}

#timelindId {
  z-index: -5;
  overflow: auto;
}

.contactBottomCont p {
  /* border: 1px solid black; */
  text-align: center;
  margin: 50px 0;
}

#imgHere {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0ceba;
}

.Timeline-wrapper-1 {
  /* border: 1px black solid; */
  overflow-x: auto !important;
  overflow-y: hidden !important;
}

.TimelineEvent-container-4 {
  z-index: 5 !important;
}

#profileImage {
  height: 350px;
  width: 350px;
}

@media screen and (max-width: 795px) {
  .contactMainCont {
    flex-direction: column;
  }
}

#contactIntroduction {
  flex: 1;
  padding: 20px;
  background-color: antiquewhite;
}

#contactTitle {
  text-align: center;
  padding: 0;
}

#aboutText {
  /* border: 1px solid black; */
  margin-bottom: -20px;
}

#contactText {
  margin-bottom: 5px;
}
