/*  */
body p {
  font-family: IBM Plex Sans, sans-serif;
}

body{
  margin: 0 !important;
}

.absoluteTop {
  width: 100vw;
  height: 50px;
  position: fixed;
}

.absoluteBottom {
  /* border: 1px solid black; */
  height: 100%;
  width: 100vw;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5vh;
}

.animationTyping {
  font-size: 80px;
  color: #e0ceba;
}

.animationTypingMain {
  /* border: 1px solid black; */
  text-align: center;
  margin-top: 20vh;
  margin-bottom: 40px;
}

.typingName {
  text-align: center;
}

.aboutMeTop {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

.description {
  font-size: 26px;
  text-align: center;
  margin-top: 20px;
}

.cont1 {
  width: 100vw;
  height: 100vh;
  background-image: url("../../Assets/image/mainBackground.png");
  background-repeat: no-repeat;
}

#language {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#contactCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.cardContent p {
  margin: 0;
}

.skills{
  background-color: #655767;
}

#footerContactDetail {
  /* border:  1px solid black; */
  max-width: 230px;
  margin: 0 auto;
}

.centerImage {
  position: relative;
  left: 50%;
  /* top: 50%; */
  transform: translate(-50%, 0);
}

#coding {
  background-color: #1e2d41;
}

.skillTop {
  padding-top: 50px;
}

.whoAmI {
  width: 50%;
}

.contactImage {
  width: 40%;
}

#contactLogo {
  position: absolute;
  left: 18vw;
  top: 15vh;
}

#contactButtonCont {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -20%);
  padding: 10px;
}

.buttonStyle {
  text-decoration: none;
  color: #976b5e;
}

@media screen and (max-width: 769px) {
  #contactButtonCont {
    position: absolute;
    top: 85%;
    left: 80%;
    transform: translate(-50%, -20%);
    padding: 10px;
  }

  .contactImage {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .contactImage {
    display: block;
    width: 40%;
  }
}
