.titleText {
    font-family: 'Francois One', sans-serif;
}

.subTitleText {
    font-family: 'ZCOOL XiaoWei', serif;
}

.chText {
    font-family: 'ZCOOL XiaoWei', serif;
}

.normalText {
    font-family: 'Work Sans', sans-serif;
}